.tmdb-homework-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin: 32px auto;

  .loading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .similar-item-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    font-weight: 700;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
      padding-right: 8px;
      cursor: pointer;
    }
  }

  .error-message {
    color: red;
  }

  .movies-loading {
    margin-bottom: 32px;
  }
}